* {
    padding: 0;
    margin: 0;
}
.section{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f3f4ff;
    text-align: center;
}
.container {
    margin: 20px;
}
.komentar{
    width: 80%;
    margin: auto;
    padding: 30px;
    border: 1px solid rgb(181, 178, 178);
    border-radius: 3px;   
}
.saran{
    background-color: aliceblue;
    padding: 5px;
    margin: 35px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
}
.disqus {
    width: 90%;
}
@media only screen and (max-width: 1150px) {
	.deskripsi{
		margin: auto;
        padding: auto;
		width: auto;
		height: auto;
	}
    .komentar{
		margin: auto;
        padding: auto;
		width: auto;
		height: auto;
	}
}